h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

a {
    color: #000;
}

a:hover {
    color: #cd9b1d;
}

body {
    background-color: #7fffd4;
    font-family: "Helvetica", "Tahoma", sans-serif;
}

#main-wrapper {
    width: 1000px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 0 10px #000;
    padding: 20px;
    box-sizing: border-box;
}

ul {
    list-style: none;
    padding: 0;
}

nav#main-menu {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}

nav#main-menu > a {
    border-right: 1px solid #000;
}

nav#main-menu > a {
    padding: 0 10px;
}

nav#main-menu > a:hover {
    color: #cd9b1d;
    background-color: #7fffd4;
}

nav#main-menu > a:last-child {
    border-right: none;
}

nav a {
    text-decoration: none;
    color: #000;
}

.flex-wrapper {
    display: flex;
}

.flex-space-around {
    justify-content: space-around;
}

.flex-space-between{
    justify-content: space-between;
}

.flex-just-center {
    justify-content: center;
}

section#skills article {
    width: 25%;
    padding: 0 50px;
    border-right: 1px solid #000;
}

section#skills article:last-child {
    border: none;
}

i.fa-plus + .hidden {
    display: none;
}

.fs-08 {
    font-size: 0.8em;
}

i.fas {
    cursor: pointer;
}

i.fas:hover {
    color: #daa520;
}

#technology li > ul {
    padding: 10px;
}

section {
    margin: 10px 0;
}

.experience-article {
    width: 250px;
    text-align: center;
    margin: 0 20px;
    border: 1px solid #000;
    padding: 10px;
}

.experience-article > div {
    cursor: default;
    border-bottom: 1px solid #000;
}
.proj-name,.work-name, .study-ptoject{
    font-weight: 900;
}
.project-link{
    font-weight: 600;
}

.experience-article > div:last-child {
    border-bottom: none;

}

.wrap-sections {
    padding-bottom: 10px;
    border-bottom: 1px solid #000;
}

section#summary-n-about {
    text-align: center;
}

#summary {
    margin-bottom: 10px;
}

article#summary {
    text-align: center;
}

/**slider*/
.slider-wrapper {
    position: relative;
    width: 100%;
    height: 255px;
}

.slider {
    position: absolute;
}

.view-box {
    top: 0;
    left: 30px;
    width: 900px;
    height: 100%;
    overflow: hidden;
}

.left-slider-control {
    left: 0;
    top: 90px;
}

.right-slider-control {
    right: 0;
    top: 90px;
}

.slider-content > div {
    min-width: 205px;
    height: 250px;
    margin: 0 10px;
    border: 1px solid #dcdcdc;
    border-radius: 20px;
    box-sizing: border-box;
    text-align: center;
    padding: 20px;

}

.invisible {
    display: none;
}

.svg-hover {
    cursor: pointer;
}

.svg-hover:hover > path {
    stroke: goldenrod;
}

.code-examp {
    width: 100%;
    resize: none;

}

#code-example-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#html-example-wrap {
    width: 100%;
}

#css-example-wrap {
    width: 30%;
}

#js-example-wrap {
    width: 60%;
}

#side-menu {
    position: fixed;
    left: 0;
    top: 50px;
    background-color: #fff;
    box-shadow: 0 0 10px #000;
    box-sizing: border-box;
}

#side-menu a {
    border-bottom: 1px solid #000;
}

#side-menu a:last-child {
    border: none;
}

#side-menu a {
    display: block;
    padding: 5px 15px;
}

#side-menu a:hover {
    background-color: #7fffd4;
}
